{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<div class="row mt-2 mb-4">
		<div class="col">
			<h3 name="about_cite">
				Cite us
			</h3>
			<div class="col-12 text-secondary">
				At this moment, we haven't submitted a publication or preprint for BiG-SLiCE.
				The citation list will be updated shortly within the next releases.
				<br />For now, please <a href="https://github.com/medema-group/bigslice#find-our-software-useful-please-cite">
				refer to this page</a> on how to cite BiG-SLiCE in your study.
			</div>
		</div>
	</div>
{% endblock %}