<div class="row mt-2 mb-4">
	<div class="col">
		<h3>Overview</h3>
		<!-- first row -->
		<div class="row mt-4 list-group list-group-horizontal">
			<div class="col-1"></div>
			<div class="col-3 list-group-item d-flex justify-content-between align-items-center">
				Run:
				<span id="query_overview_run_id" class="badge badge-secondary badge-pill">?</span>
			</div>
			<div class="col-3 list-group-item d-flex justify-content-between align-items-center">
				Query created:
				<span id="query_overview_created" class="badge badge-secondary badge-pill">?</span>
			</div>
			<div class="col-4 list-group-item d-flex justify-content-between align-items-center">
				Total BGCs:
				<span id="query_overview_total_bgcs" class="badge badge-secondary badge-pill">?</span>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>