bigslice/db/advanced/tmp
bigslice/db/advanced/biosynthetic_pfams
bigslice/db/advanced/sub_pfams
bigslice/db/models
bigslice/db/*.hmm
bigslice/db/*.h3i
bigslice/db/*.h3f
bigslice/db/*.h3m
bigslice/db/*.h3p
bigslice/db/*.md5sum
bigslice/modules/output/flask_app/result
__pycache__/
*.py[cod]
*$py.class