include bigslice/modules/data/*.sql
include bigslice/modules/data/*.tsv
include bigslice/modules/data/*.json
include bigslice/modules/output/flask_app/*.txt
include bigslice/modules/output/flask_app/*.sh
include bigslice/modules/output/flask_app/app/*
include bigslice/modules/output/flask_app/app/static/*/*
include bigslice/modules/output/flask_app/app/static/*
include bigslice/modules/output/flask_app/app/views/*/*/*/*
include bigslice/modules/output/flask_app/app/views/*/*/*
include bigslice/modules/output/flask_app/app/views/*/*
include bigslice/modules/output/flask_app/app/views/*
