<div class="row mt-2 mb-4 d-none">
	<div class="col">
		<h3 name="help_howitworks">
			How it works
		</h3>
		<div id="hiw_accordion" class="mt-4 mb-4">
			<!-- what is gcf analysis -->
			<div class="card mb-2">
			    <div class="btn card-header text-left" id="headingOne" data-toggle="collapse" data-target="#hiw_accordion-gcfanalysis" aria-expanded="true" aria-controls="collapseOne">
			      <strong>
			      	Gene Cluster Family (GCF) analysis
			      </strong>
			    </div>
			    <div id="hiw_accordion-gcfanalysis" class="collapse hide" aria-labelledby="headingOne" data-parent="#hiw_accordion">
			      <div class="card-body">
			      	...
			      </div>
			    </div>
		    </div>
			<!-- BGC vectorization -->
			<div class="card mb-2">
			    <div class="btn card-header text-left" id="headingOne" data-toggle="collapse" data-target="#hiw_accordion-bgcfeatures" aria-expanded="true" aria-controls="collapseOne">
			      <strong>
			      	Biosynthetic Gene Cluster (BGC) feature extraction
			      </strong>
			    </div>
			    <div id="hiw_accordion-bgcfeatures" class="collapse hide" aria-labelledby="headingOne" data-parent="#hiw_accordion">
			      <div class="card-body">
			      	...
			      </div>
			    </div>
		    </div>
			<!-- BIRCH clustering -->
			<div class="card mb-2">
			    <div class="btn card-header text-left" id="headingOne" data-toggle="collapse" data-target="#hiw_accordion-birch" aria-expanded="true" aria-controls="collapseOne">
			      <strong>
			      	BIRCH clustering algorithm
			      </strong>
			    </div>
			    <div id="hiw_accordion-birch" class="collapse hide" aria-labelledby="headingOne" data-parent="#hiw_accordion">
			      <div class="card-body">
			      	...
			      </div>
			    </div>
		    </div>
			<!-- SQLite3 database -->
			<div class="card mb-2">
			    <div class="btn card-header text-left" id="headingOne" data-toggle="collapse" data-target="#hiw_accordion-sqlite3" aria-expanded="true" aria-controls="collapseOne">
			      <strong>
			      	SQLite3 data storage
			      </strong>
			    </div>
			    <div id="hiw_accordion-sqlite3" class="collapse hide" aria-labelledby="headingOne" data-parent="#hiw_accordion">
			      <div class="card-body">
			      	...
			      </div>
			    </div>
		    </div>
			<!-- extendable features -->
			<div class="card mb-2">
			    <div class="btn card-header text-left" id="headingOne" data-toggle="collapse" data-target="#hiw_accordion-modules" aria-expanded="true" aria-controls="collapseOne">
			      <strong>
			      	Modular output & post-processing scripts
			      </strong>
			    </div>
			    <div id="hiw_accordion-modules" class="collapse hide" aria-labelledby="headingOne" data-parent="#hiw_accordion">
			      <div class="card-body">
			      	...
			      </div>
			    </div>
		    </div>
		</div>
	</div>
</div>