{% extends "layout.html.j2" %}
{% block content %}
	{% include "basic_header.html.j2" %}
	<!-- FAQs -->
	{% include "help/faq.html.j2" %}
	<!-- How it works -->
	{% include "help/how_it_works.html.j2" %}
{% endblock %}