<div class="row mt-2 mb-4">
	<div class="col">
		<h3>Overview</h3>
		<!-- first row -->
		<div class="row mt-4 list-group list-group-horizontal">
			<div class="col-1"></div>
			<div class="col-4 list-group-item d-flex justify-content-between align-items-center">
				Status:
				<span>?</span>
			</div>
			<div class="col-3 list-group-item d-flex justify-content-between align-items-center">
				Started:
				<span>?</span>
			</div>
			<div class="col-3 list-group-item d-flex justify-content-between align-items-center">
				Finished:
				<span>? <a href="javascript:void();" class="badge badge-info badge-pill ml-2" data-toggle="popover" data-trigger="hover" data-html="true" data-content="" title="Note">note</a></span>
			</div>
			<div class="col-1"></div>
		</div>
		<!-- second row -->
		<div class="row list-group list-group-horizontal">
			<div class="col-1 border-top-0 "></div>
			<div class="col-10 border-top-0 list-group-item d-flex justify-content-between align-items-center">
				Parameters:
				<span>?</span>
			</div>
			<div class="col-1 border-top-0"></div>
		</div>
		<!-- third row -->
		<div class="row list-group list-group-horizontal">
			<div class="col-1 border-top-0 "></div>
			<div class="col-4 border-top-0 list-group-item d-flex justify-content-between align-items-center">
				HMM models:
				<span>? HMMs <a href="javascript:void();" class="badge badge-info badge-pill ml-2" data-toggle="popover" data-trigger="hover" data-html="true" data-content="" title="Details">details</a></span>
			</div>
			<div class="col-6 border-top-0 list-group-item d-flex justify-content-between align-items-center">
				Input:
				<span>? BGCs from ? datasets <a href="javascript:void();" class="badge badge-info badge-pill ml-2" data-toggle="popover" data-trigger="hover" data-html="true" data-content="" title="Details">details</a></span>
			</div>
			<div class="col-1 border-top-0"></div>
		</div>
	</div>
</div>